extends layout 

include mixins/_head

block head 
  meta(name="description" content="SimpleWorks - SEO text here")
  title SimpleWorks | Adatvédelmi Tájékoztató
  +head 
block content
  h1 Adatvédelmi Tájékoztató
  p Üdvözöljük az adatvédelmi tájékoztató oldalon
