extends layout 

include mixins/_head

block head 
  meta(name="description" content="SimpleWorks - SEO text here")
  title SimpleWorks | Impresszum
  +head 
block content
  h1 Impresszum
  p Üdvözöljük az impresszum oldalon