extends layout 

include mixins/_head
include mixins/_head-end

block head 
  title SymplWorks | Impresszum
  meta(name="description" content="Symplworks Impresszum")
  link(rel="canonical" href="https://symplworks.hu/impresszum")
  +head 
  +headEnd
block content
  main
    .impressum--wrapper
      h1.title.title__center.impressum-title Impresszum
      .impressum--subwrapper
        h2.subtitle.text__brand Vállalkozás adatai
        p
          span.text__bold Cégnév:</span> Tálos-Farkas Gabriella EV.
        p
          span.text__bold Székhely:</span> 1031 Budapest, Ányos utca 4.
        p
          span.text__bold Levelezési cím:</span> 1031 Budapest, Ányos utca 4.
        p
          span.text__bold Adószám:</span> 48376493-1-41
        p
          span.text__bold Nyilvántartási száma:</span> 58698086
        p
          span.text__bold Kamara:</span> Budapesti Kereskedelmi és Iparkamara
        p
          span.text__bold E-mail:</span> gabi@symplworks.hu
      .impressum--subwrapper      
        h2.subtitle.text__brand Tárhelyszolgáltató adatai     
        p
          span.text__bold Cégnév:</span> Rackhost Zrt.      
        p
          span.text__bold Székhely:</span> 6722 Szeged, Tisza Lajos körút 41.      
        p
          span.text__bold Adószám:</span> 25333572-2-06
        p
          span.text__bold Cégjegyzékszám:</span> 06-10-000489
        p
          span.text__bold E-mail:</span> info@rackhost.hu