extends layout 

include mixins/_head

block head 
  meta(name="description" content="SimpleWorks - SEO text here")
  title SimpleWorks | Kezdőlap
  +head 
block content
  main 
    .hero
      .hero-content 
        h1.title__hero.text__brand Mobilra optimalizált egyedi honlapok
        p Tűnj ki a tömegből és szerezz be egy mobilra optimalizált, egyedi fejlesztésű honlapot, amely hatékonyabb és gyorsabb, mint a WordPress vagy más tartalomkezelő rendszer alapú megoldások.  
        .btn--wrapper
          a.btn.btn__primary(href="/kapcsolat") Ingyenes konzultáció
          a.btn.btn__hollow(href="/portfolio") Korábbi munkáim
      .hero-image
    section.feature 
      article 
        h2.title.text__brand.article-title Előtérben a mobil eszközök és a felhasználó barát web design
        .feature--wrapper
          .feature-content
            p Kiváló mobilfelhasználói élményt nyújtó honlapok létrehozására törekszem, melyek zökkenőmentesen működnek minden eszközön, beleértve az asztali gépeket is. 
            p Számomra az egyszerűség és a felhasználóbarát dizájn kiemelt fontosságú, ezért olyan honlapokat tervezek, amelyek könnyen átláthatóak és intuitívak.
            p Hatékony kódolással és saját, egyedi megoldásokkal biztosítom, hogy a honlapok gyorsan és hatékonyan működjenek, nem határolnak be sablonok vagy tartalomkezelő rendszerek.
            a.btn.btn__hollow(href="/szolgaltatasok") Szolgáltatások
          img(src='/images/photos/woman_working.jpg').feature-image
      article
        h2.title.text__brand.article-title Gördülékeny munkafolyamat, nyitott kommunikáció
        .feature--wrapper.reverse 
          .feature-content 
            p Az első lépés egy igényfelmérő beszélgetés személyesen Budapesten vagy online. Itt átbeszélünk minden fontos részletet, hogy tisztázzuk pontosan, mire van szükséged, így konkrét árajánlatot tudok adni, meghatározzuk a határidőt, és el tudom kezdeni a munkát a honlapodon.
            p A projekt során folyamatosan egyeztetünk, hogy a végeredmény biztosan elnyerje tetszésedet és megfeleljen az elvárásaidnak.
            a.btn.btn__hollow(href="/gyik") Részletek
          img(src='/images/photos/notes.jpg').feature-image


  