extends layout 

include mixins/_head
include mixins/_head-end

block head 
  title SymplWorks | Kezdőlap
  meta(name="description" content="Mobilra optimalizált egyedi honlapok fejlesztése kedvező áron. Kérj ajánlatot most!")
  link(rel="canonical" href="https://symplworks.hu/")
  +head
  link(rel="preload" fetchpriority="high" as="image" href="/images/photos/mobile-smartphone-hero.webp" type="image/webp") 
  +headEnd
block content
  main.homepage 
    .hero
      .hero-image
      h1.title__hero.text__brand.hero-title Mobilra optimalizált egyedi honlapok
      .hero-content
        p.hero-text Szerezz be egy gyors és hatékony honlapot kedvező áron, amely teljes mértékben igazodik az igényeidhez.  
        .btn--wrapper.hero-buttons
          a.btn.btn__hollow__hero(href="/portfolio") Korábbi munkáim
          a.btn.btn__primary__hero(href="/kapcsolat") Ingyenes konzultáció
    section.feature 
      article 
        h2.title.text__brand.article-title Előtérben a mobil eszközök és a felhasználó barát web design
        .feature--wrapper.reverse
          .feature-content
            p Kiváló mobilfelhasználói élményt nyújtó honlapok létrehozására törekszem, melyek zökkenőmentesen működnek minden eszközön, beleértve az asztali gépeket is. 
            p Számomra az egyszerűség és a felhasználóbarát dizájn kiemelt fontosságú, ezért olyan honlapokat tervezek, amelyek könnyen átláthatóak és intuitívak.
            p Hatékony kódolással és saját, egyedi megoldásokkal biztosítom, hogy a honlapok gyorsan és hatékonyan működjenek, nem határolnak be sablonok vagy tartalomkezelő rendszerek.
            a.btn.btn__primary.btn__feature(href="/szolgaltatasok") Szolgáltatások
          img(src='/images/photos/woman_working.jpg' alt='fiatal nő mobilozik' loading='lazy').feature-image
      article
        h2.title.text__brand.article-title Gördülékeny munkafolyamat, nyitott kommunikáció
        .feature--wrapper 
          .feature-content 
            p Az első lépés egy igényfelmérő beszélgetés személyesen Budapesten vagy online. Itt átbeszélünk minden fontos részletet, hogy tisztázzuk pontosan, mire van szükséged, így konkrét árajánlatot tudok adni.
            p A projekt során folyamatosan egyeztetünk, hogy a végeredmény biztosan elnyerje tetszésedet és megfeleljen az elvárásaidnak.
            a.btn.btn__primary.btn__feature(href="/gyik") Részletek
          img(src='/images/photos/notes.jpg' alt='jegyzet füzet honlap tervvel' loading='lazy').feature-image
    .testimonials.js-testimonials-div
      .testimonials-slider 
        .arrow--wrapper.js-previous
          svg.arrow-svg(width="50", height="50", viewBox="0 0 50 50")
            line(x1="30", y1="25", x2="10", y2="25", class="arrow", transform="translate(5 0)")
            polyline(points="20,15 10,25 20,35", class="arrow", transform="translate(5 0)")
        .testimonials--wrapper 
          .testimonials-content.js-testimonial  
            h2.text__bold.text__uppercase Szénási Ágnes 
            p.text__bold Nagyon jól tudtam Gabival együtt dolgozni, rugalmas és segítőkész, a kérdéseimre gyorsan reagált a folyamatos kommunikációnak köszönhetően. Sok hasznos tanáccsal is ellátott. Jó szívvel ajánlom Őt!
            .testimonials-profile
              img.testimonials-image(src="/images/photos/Szenasi-Agi-2.jpg", alt="Szénási Ágnes pszichológus" loading='lazy')
              p.text__bold Szénási Ágnes 
              p Pszichológus
          .testimonials-content.js-testimonial
            h2.text__bold.text__uppercase Bagoly Pub 
            p.text__bold Gabi nagyszerű munkát végzett a honlapom elkészítésében. Bár néhány igényem a projekt során módosult, ő ezt nagy rugalmassággal és professzionalizmussal kezelte. Nagyon elégedett vagyok a végeredménnyel.
            .testimonials-profile
              img.testimonials-image(src="/images/photos/Talos-Peter.jpg", alt="Tálos Péter Bagoly Pub ügyvezetője" loading='lazy')
              p.text__bold Tálos Péter 
              p Bagoly Pubs Kft.
              p Cégtulajdonos
        .arrow--wrapper.js-next
          svg.arrow-svg(width="50", height="50", viewBox="0 0 50 50")
            line(x1="20", y1="25", x2="40", y2="25", class="arrow", transform="translate(-5 0)")
            polyline(points="30,15 40,25 30,35", class="arrow", transform="translate(-5 0)")
      .dots--wrapper 
        .js-dot.js-dot__active 
        .js-dot
    .cta
      .cta--wrapper 
        h2.title.text__brand Indítsd el a projekted még ma!
        p Készen állsz, hogy egyedi, mobilra optimalizált honlapod legyen? Vedd fel velem a kapcsolatot egy ingyenes konzultációért, és kezdjük el együtt a munkát!
        .cta-link--wrapper
          a.cta-link.text__brand(href="/kapcsolat") Kérj ingyenes konzultációt
          svg.cta-arrow-svg(width="1em", height="1em", viewBox="0 0 50 50", style="vertical-align: middle;")
            line(x1="20", y1="25", x2="40", y2="25", class="arrow")
            polyline(points="30,15 40,25 30,35", class="arrow", fill="none")

          
      


  