extends layout 

include mixins/_head

block head 
  meta(name="description" content="SimpleWorks - SEO text here")
  title SimpleWorks | Kapcsolat
  +head 
block content
  main.contact
    .contact-img 
    .contact--wrapper 
      p.contact-text Tálos-Farkas Gabriella vagyok, web fejlesztő. Ha bármilyen kérdésed van vagy szeretnél velem dolgozni, keress bátran!
        .contact-email
          a.contact-link(href="mailto:webdev@simpleworks.hu") webdev@simpleworks.hu
          i.contact-icon.fa-regular.fa-paper-plane
  