extends layout 

include mixins/_head
include mixins/_head-end

block head 
  meta(name="description" content="Üdvözöllek! Tálos-Farkas Gabriella vagyok, webfejlesztő. Ha kérdésed van vagy együtt szeretnél dolgozni velem, írj bátran!")
  title SimpleWorks | Kapcsolat
  +head 
  link(rel="preload" fetchpriority="high" as="image" href="/images/photos/mobile-profile.jpg" type="image/jpeg")
  +headEnd
block content
  main.contact
    .contact-img 
    .contact--wrapper 
      p.contact-text Tálos-Farkas Gabriella vagyok, web fejlesztő. Ha bármilyen kérdésed van vagy szeretnél velem dolgozni, keress bátran!
        .contact-email
          a.contact-link(href="mailto:webdev@simpleworks.hu") webdev@simpleworks.hu
          i.contact-icon.fa-regular.fa-paper-plane
  