extends layout 

include mixins/_head
include mixins/_head-end

block head 
  title SymplWorks | Portfólió
  meta(name="description" content="Nézd meg korábbi munkáimat, ahol egy-egy példát mutatok landing page, statikus és dinamikus weboldal típusokra.")
  link(rel="canonical" href="https://symplworks.hu/portfolio")
  +head
  link(rel="preload" fetchpriority="high" as="image" href="/images/photos/mobile-wedding.webp" type="image/webp")
  +headEnd
block content
  main.portfolio
    h1.title.text__brand.portfolio-headline Tekintsd meg néhány korábbi munkámat!
    .portfolio--wrapper 
      .portfolio-card
        .portfolio-content 
          h2.title.text__brand.card-title Landing page
          p.card-text Landing page koncepció terv esküvőt szervező pár részére. A pár képe görgetésre banner-ré változik.
        .img--wrapper
          picture.pic__desktop 
            source(srcset="/images/photos/desktop-wedding.webp", type="image/webp") 
            img.img__desktop(src="/images/photos/desktop-wedding.jpg" alt="Esküvő landing page asztali verzió")
          picture.pic__mobile
            source(srcset="/images/photos/mobile-wedding.webp", type="image/webp")
            img.img__mobile(src="/images/photos/mobile-wedding.jpg" alt="Esküvő landing page mobil verzió") 
        a.portfolio-link(href="https://wedding-page-six.vercel.app/" target="_blank") Megtekintés
      .portfolio-card 
        .portfolio-content
          h2.title.text__brand.card-title Statikus weboldal 
          p.card-text Több oldalas statikus weboldal egy pszichológus számára, ahol a nagy mennyiségű szöveg elrendezésére volt kihívás, hogy könnyen áttekinthető legyen.
        .img--wrapper
          picture.pic__desktop 
            source(srcset="/images/photos/desktop-szenasi.webp", type="image/webp")  
            img.img__desktop(src="/images/photos/desktop-szenasi.jpg" alt="Szénási Ágnes asztali verzió")
          picture.pic__mobile
            source(srcset="/images/photos/mobile-szenasi.webp", type="image/webp")
            img.img__mobile(src="/images/photos/mobile-szenasi.jpg" alt="Szénási Ágnes mobil verzió")
        a.portfolio-link(href="https://szenasiagnes-pszichologia.hu/" target="_blank") Megtekintés
      .portfolio-card
        .portfolio-content 
          h2.title.text__brand.card-title Dinamikus weboldal 
          p.card-text Egy pub dinamikus weboldala, ahol a kínálat oldalon szereplő csapon lévő söröket admin felületen lehet beállítani.
        .img--wrapper
          picture.pic__desktop 
            source(srcset="/images/photos/desktop-bagolypub.webp", type="image/webp")   
            img.img__desktop(src="/images/photos/desktop-bagolypub.jpg" alt="Bagoly Pub asztali verzió")
          picture.pic__mobile
            source(srcset="/images/photos/mobile-bagolypub.webp", type="image/webp")
            img.img__mobile(src="/images/photos/mobile-bagolypub.jpg" alt="Bagoly Pub mobil verzió")
        a.portfolio-link(href="https://bagolypub.hu/" target="_blank") Megtekintés
      
      
  
  