extends layout 

include mixins/_head

block head 
  meta(name="description" content="SimpleWorks - SEO text here")
  title SimpleWorks | Portfólió
  +head 
block content
  h1 Portfólió
  p Üdvözöljük a portfólió oldalon