extends layout 

include mixins/_head

block head 
  meta(name="description" content="SimpleWorks - SEO text here")
  title SimpleWorks | Szolgáltatások
  +head 
block content
  h1 Szolgáltatások
  p Üdvözöljük a szolgáltatások oldalon