extends layout 

include mixins/_head
include mixins/_head-end

block head 
  title SymplWorks | Szolgáltatások
  meta(name="description" content="Szolgáltatásaim közé tartozik landing page készítés, statikus és dinamikus weboldalak fejlesztése, valamint karbantartás egyéni vállalkozók és kisvállalkozások számára")
  link(rel="canonical" href="https://symplworks.hu/szolgaltatasok")
  +head
  +headEnd 
block content
  main.services
    .services-headline
      h1.title.text__brand Szolgáltatások
      p Az árak a weboldal bonyolultságától illetve plusz oldalak számától függően változnak. Az alábbiakban találhatsz néhány becsült árat.
    .services--wrapper
      .services-card 
        h2.title.card-title.text__brand Single page 
        .card-text 
          p Egyszerű, egyoldalas statikus reszponzív weboldal, amely bemutatja a vállalkozásod vagy egy terméket/szolgáltatást.
          ul.card-list 
            li domain regisztráció és tárhely kezelés 
            li jogtiszta képek gyűjtése
            li szöveg vázlat írása
            li honlap felépítésének megtervezése
            li reszponzív design
            li honlap lefejlesztése
            li technikai/onsite SEO
            li Google Search Console beállítása
            li Igény szerint Cookie Consent és Google Analytics beállítása
            li Egy hónap ingyenes karbantartás
        .card-price 
          p ~ 70 000 Ft
      .services-card 
        h2.title.card-title.text__brand Statikus weboldal 
        .card-text 
          p 3-5 oldalas reszponzív statikus weboldal, amely bemutatja vállalkozásod, szolgáltatásaid és kapcsolati információidat. 
          ul.card-list 
            li domain regisztráció és tárhely kezelés 
            li jogtiszta képek gyűjtése
            li szöveg vázlat írása
            li honlap felépítésének megtervezése
            li reszponzív design
            li honlap lefejlesztése
            li technikai/onsite SEO
            li Google Search Console beállítása
            li Igény szerint Cookie Consent és Google Analytics beállítása
            li Egy hónap ingyenes karbantartás
        .card-price 
          p ~ 130 000 Ft
      .services-card 
        h2.title.card-title.text__brand Dinamikus weboldal 
        .card-text 
          p 3-4 oldalas reszponzív dinamikus weboldal, admin felülettel és adatbázissal, hogy a tartalom könnyedén módosítható legyen. Például blogok, hírek aloldal. 
          ul.card-list 
            li domain regisztráció és tárhely kezelés 
            li jogtiszta képek gyűjtése
            li szöveg vázlat írása
            li honlap felépítésének megtervezése
            li reszponzív design
            li honlap lefejlesztése
            li adatbázis regisztráció 
            li admin felület
            li technikai/onsite SEO
            li Google Search Console beállítása
            li Igény szerint Cookie Consent és Google Analytics beállítása
            li Egy hónap ingyenes karbantartás
        .card-price 
          p ~ 180 000 Ft
      .services-card.max-height 
        h2.title.card-title.text__brand Honlap karbantartás
        .card-text 
          p Weboldalak karbantartása és frissítése fontos része az online jelenlét fenntartásának. Szolgáltatásaim közé tartozik:
          ul.card-list
            li 
              p <span class="text__bold">Tartalomkezelés:</span> Segítség a tartalom frissítésében és optimalizálásában
            li 
              p <span class="text__bold">Hibajavítások:</span> Technikai problémák gyors és hatékony megoldása.
        .card-price 
          p ~ 5 000 Ft/hó-tól
    .cta.cta__services
      .cta--wrapper 
        h2.title.text__brand Indítsd el a projekted még ma!
        p Keress meg egy ingyenes konzultációért, és kapj konkrét árajánlatot az igényeid alapján.
        .cta-link--wrapper
          a.cta-link.text__brand(href="/kapcsolat") Kérj ingyenes konzultációt
          svg.cta-arrow-svg(width="1em", height="1em", viewBox="0 0 50 50", style="vertical-align: middle;")
            line(x1="20", y1="25", x2="40", y2="25", class="arrow")
            polyline(points="30,15 40,25 30,35", class="arrow", fill="none")






  