mixin head()
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href='/fontawesome/css/fontawesome.css', rel='stylesheet')
  link(href='/fontawesome/css/solid.css', rel='stylesheet')
  link(href='/fontawesome/css/regular.css', rel='stylesheet')
  link(rel='stylesheet', href='/dist/style.css')
  